In [1]:
import pandas as pd

In [2]:
# apply 함수 심층 활용
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [3]:
def extract_years(row):
    return row.split('-')[0]
# apply함수 기본 사용 방법
df['year'] = df['yyyy-mm-dd'].apply(extract_years)
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [6]:
# apply함수에 파라미터 전달하는법
def extract_year(year, current_year):
    return current_year - int(year)
# 함수 해석 --> 기존 컬럼값이 들어오는 첫번째 인자와 자체적으로 값을
# 지정할 두번째 인자를 서로 나눌 예정

df['age'] = df['year'].apply(extract_year, current_year=2023)
# apply함수를 사용하여 상단 함수를 apply의 첫번째 인자로, 두번째 인자에는
# extract_year함수의 두번째 인자값을 지정함
# 태어난 년생을 이용하여 현재 나이를 계산하는 방법임

df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   23
1  2002-09-24  2002   21
2  2005-12-20  2005   18

In [8]:
# apply함수에 한개 이상의 파라미터 전달하는 법
def get_introduce(age, prefix, suffix):
    return prefix + str(age) + suffix

df['introduce'] = df['age'].apply(get_introduce, prefix='저는 올해 나이가 ', suffix='살 입니다.')
df

   yyyy-mm-dd  year  age           introduce
0  2000-06-27  2000   23  저는 올해 나이가 23살 입니다.
1  2002-09-24  2002   21  저는 올해 나이가 21살 입니다.
2  2005-12-20  2005   18  저는 올해 나이가 18살 입니다.

In [10]:
# apply함수에 여러개의 컬럼을 동시 전달하는 법
def get_introduce2(row):
    return 'i was born in '+str(row.year)+'my age is '+str(row.age)

df.introduce = df.apply(get_introduce2, axis=1)
df

   yyyy-mm-dd  year  age                       introduce
0  2000-06-27  2000   23  i was born in 2000my age is 23
1  2002-09-24  2002   21  i was born in 2002my age is 21
2  2005-12-20  2005   18  i was born in 2005my age is 18