In [1]:
import pandas as pd

In [2]:
# Map 함수로 컬럼 추가 및 변경
def extract_year(row):
    return row.split('-')[0]

date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [3]:
df['year'] = df['yyyy-mm-dd'].map(extract_year)
# apply 함수와 동일하게 쓸 수 있음.
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [4]:
job_list = [{'age': 20, 'job': 'student'},
         {'age': 30, 'job': 'developer'},
         {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(job_list)
df

   age        job
0   20    student
1   30  developer
2   30    teacher

In [5]:
# map 함수의 다른 사용법
df.job = df.job.map({'student': 1, 'developer': 2, 'teacher': 3})
# 데이터 값을 함수를 통해 변경 가능
df

   age  job
0   20    1
1   30    2
2   30    3

In [6]:
# Applymap 함수 사용법
x_y = [{'x': 5.5, 'y': -5.6},
         {'x': -5.2, 'y': 5.5},
         {'x': -1.6, 'y': -4.5}]
df = pd.DataFrame(x_y)
df

     x    y
0  5.5 -5.6
1 -5.2  5.5
2 -1.6 -4.5

In [8]:
# 반올림 정렬 가능
import numpy as np
# numpy import 필요
df = df.applymap(np.around)
df

     x    y
0  6.0 -6.0
1 -5.0  6.0
2 -2.0 -4.0