In [2]:
import pandas as pd

In [17]:
freind_list = [
    ['name',['john','jenny','nate']],
    ['age',[20, 30, 30]],
    ['job',['student','developer','teacher']]
]
df = pd.DataFrame.from_dict(dict(freind_list))
# from_item 은 오류발생

In [19]:
df.head()

    name  age        job
0   john   20    student
1  jenny   30  developer
2   nate   30    teacher

In [21]:
df.to_csv('freind_list_from_df.csv')
# to_csv 함수를 사용하여 파일 저장

In [23]:
freind_list =[
    ['john', 20, 'student'],
    ['jenny', 30, 'developer'],
    ['john', 30, 'teacher'],
]

df = pd.DataFrame.from_records(freind_list)
# 헤더가 없는 데이터 프레임

In [25]:
df.head()

       0   1          2
0   john  20    student
1  jenny  30  developer
2   john  30    teacher

In [29]:
df.to_csv('freind_list_from_df_txt')
# 확장자명은 원하는 형태로 변경 가능

In [32]:
df.to_csv('freind_list_from_df_csv', header=True, index=True)
# 헤더와 인덱스값은 기본이 True

In [34]:
df.to_csv('freind_list_from_df.csv', header=False, index=False)
# 헤더 정보를 원할 시 컬럼 이름 파일에 저장 가능

In [36]:
df.to_csv('freind_list_from_df.csv', header=['name','age','job'])

In [38]:
freind_list = [
    ['name', ['john', None, 'nate']],
    ['age', [20, None, 30]],
    ['job', ['student', 'developer', 'teacher']]
]
# None 값이 존재하는 데이터 프레임
df = pd.DataFrame.from_dict(dict(freind_list))

In [40]:
df.head()

   name   age        job
0  john  20.0    student
1  None   NaN  developer
2  nate  30.0    teacher

In [41]:
df.to_csv('freind_list_from_df.csv', na_rep='-')
# na_rep을 활용하면 None을 원하는 값으로 변경 가능